<!DOCTYPE html>
<html>
  <head>
    <title>Area Analysis</title>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
      .crimes{
        text-align: left;
        margin-left: 10em;
        font-family: 'Roboto Mono';
      }
      body{
        margin-left: 35em;
        font-family: 'Roboto Mono';
      }


      [type=submit] {
        color:white;
        background-color: black;
        border: none;
        padding: 10px 23px;
        text-decoration: none;
        margin: 6px 2px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h5>{{content['0']}}</h5>
    <div class="crimes">
      <p>{{content['1']}}</p>
      <br>
      <p>{{content['2']}}</p>
      <br>
      <p>{{content['3']}}</p>
      <br>
      <p>{{content['4']}}</p>
      <br>
      <p>{{content['5']}}</p>
      <br>
      <p>{{content['6']}}</p>
      <br>
      <p>{{content['7']}}</p>
      <br>
      <p>{{content['8']}}</p>
      <br>
      <p>{{content['9']}}</p>
      <br>
      <p>{{content['10']}}</p>
      <br>
      <p>{{content['11']}}</p>
      <br>
    </div>
    <h5>{{content['12']}}</h5>
    <br>
    <h5>{{content['13']}}</h5>
    <br>
    <form action='/' method=post>
      <input style="margin-left: 27em; font-family: 'Roboto Mono';" type="submit" name='back' value="Go Back">
    </form>
  </body>
</html>
